@model List<MultiShop.DtoLayer.CatalogDtos.ProductDtos.ResultProductDto>
@{
    ViewData["Title"] = "Ürün Listesi";
    Layout = "~/Areas/Admin/Views/AdminLayout/_AdminLayout.cshtml";
    int count = 0;
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <div class="pull-left">
                    <h4>Ürün Listesi</h4>
                </div>
                <div class="pull-right" style="padding-bottom:0.5rem;">
                    <a class="btn btn-success" asp-area="Admin" asp-controller="Product" asp-action="Create"> Ekle </a>
                </div>
                <div class="bs-example" data-example-id="bordered-table">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Ürün Adı</th>
                                <th>Ürün Fiyatı</th>
                                <th>Sil</th>
                                <th>Düzenle</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                count++;
                                <tr>
                                    <th scope="row">@count</th>
                                    <td>@item.Name</td>
                                    <td>@item.Price</td>
                                    <td><a class="btn btn-danger" asp-area="Admin" asp-controller="Product" asp-action="Delete" asp-route-id="@item.Id"> Sil </a></td>
                                    <td><a class="btn btn-primary" asp-area="Admin" asp-controller="Product" asp-action="Update" asp-route-id="@item.Id"> Düzenle </a></td>

                                </tr>

                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

